/* Theme Blue changes*/



/*
	button color
*/
button.pickupInStoreButton,
button.negative, a.button.negative {
    color:#af1810;
    border-color: #000000;
}

button.addToCartButton,
#storeFinder .searchPane .findStoresNearMe,
button.positive, a.button.positive {
    background-color:#af1810;
    border-color: #000000;
}

body {
    /* background-color: maroon;*/
     /* background-image: green.jpg */
     font-family: 'Lato', sans-serif;
     color:#000000;
    /*  font-family:bold */
    font-size: 75%;
    font-style:italic;
    
    background: url(../bg5.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}
/*
	checkout progress
*/

#checkoutProgress li.step.active {
    background: none repeat scroll 0 0 #af1810;
}

/*
	scroller product number  
*/

.span-24 > .scroller ul li{
	width:150px;
}




/*
	Productlist image size
*/


.productList .productListItem .thumb img {
  width: 96px;
}



.productList .productListItem .stars,
.productList .productListItem .details,
.productList .productListItem .cart,
.productList .productListItem .product-classification,
.productList .productListItem .lowStock,
.productList .productListItem .head {
  margin-left:  110px;
}

.volumePricesFlag{
	float:right;
	padding:5px 0 0 10px;
}